    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule .* $0.html
    RewriteRule ^(mysite/)?([a-z\-]+)$ /$1index.php?page=$1 [L]
    ErrorDocument 404 /camagru/404.html
    ErrorDocument 400 /camagru/400.html