header {
    grid-area: header;
    background-color: #fed330;
    padding: 20px;
    height: 6vh;
    border-radius: 10px;
  }

  #myCanvas{
      width: 100%;
      background-color: #bf6020;
      height: 100%;
      z-index: -1;
  }

    #tCanvas {
        position: absolute;
        padding: 0;
        width: 100px;
        height: 500px;
        background-color: blueviolet;
        /* z-index: 1; */
  }

  * {border-radius: 10px; font-family: Consolas;}

    .filt_butt {
        font-size: calc(.1vw + .1vh + .7vmin);
        margin-top: 1%;
        margin-left: .2%;
        width: 6vw;
        height: 1.6vw;
    }

    .filters {
        display: block;
        background-color: aqua;
        width: 100%;
        height: 7vw;
    }

    .buttons {
        position: relative;
        /* background-color: rgb(238, 222, 130); */
        /* width: 96%; */
        height: 3vw;
        padding-bottom: 1vh;
        display:-webkit-flex;
        /* -webkit-justify-content:center; */
        /* display:flex; */
        justify-content:center;
        opacity: 1;
    }
    
    .preview {
        overflow: hidden;
        display: block;
        margin-left: 8px; 
        /* background-color: tomato; */
        width: 25vw;
        height: 19vw;
        border-radius: 10px;
        border: 5px solid black;
    }

    /* .column {
        margin-top: 3px;
        background-color: blue;
        display: block;
    }
     */
    #c1, #c2, #c3 {
        margin-left: 5%;
        position: relative;
        margin-top: 3%;
        height: 60%;
        width: 10%;
        background: black;
        background-size: 50%;
        border:0;
        background-repeat: no-repeat;
        background-position: center;
    }

    #c1 {background-image: url('images/start.png'); background-size: 50%}
    #c2 {background-image: url('./images/snap.png'); background-size: 100%;}
    #c3 {background-image: url('images/video.png');background-size: 70%;}

    .left {
        border-radius: 10px;
        border: 5px solid #579FF1;
        margin-left: 8px;
        margin-bottom: 5%;
        margin-top: 5%;
        overflow: hidden;
        float: left;
        background-color: black;
        width: 100%;
        height: 19vw;
    }

    video {
        width: 25vw
    }

    .right {
        position: relative;
        width: auto;
        /* height: 5vw; */
        margin-left: 47%;
        margin-right: 3%;
        height: 200vh;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: scroll;
        background-color: blue;
    }

    .vid {
        /* background-color: violet; */
        position: relative;
        left: 0;
        width: 100%;
        height: 90%;
        /* z-index: -1; */
        overflow: hidden;
    }




/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    .right {
        height: 40vw;
    }
  article {
    grid-area: content;
    background-color: #20bf6b;
    padding: 20px;
  }
  aside {
    grid-area: sidebar;
    background-color: #45f27f;
  }
  footer {
    padding: 20px;
    grid-area: footer;
    background-color: #fd9644;
  }
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 5fr 1fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
      height: 100%;
  }

  .scoop {
      width: 25vw;
      float: left;
      /* background-color: teal; */
  }

  input[type=button] {
      width: 5vw;
      height: 3vh;
      font-size: calc(.1vw + .1vh + 1vmin);
  }

  .ico
  {
      position: relative;
      float: left;
      background-color: black;
      width: 5vw;
      height: 5vw;
  }
  .wrapper-content {
      display: block;
      float: left;
    width: 100%;
    text-align: center;
    /* background-color: yellow; */
  }

  @media only screen and (max-width: 750px) {
    .wrapper {
        grid-template-areas:
      "header  header"
      "sidebar sidebar"
      "content content"
      "footer  footer";
        }

        * { border-radius: 2px;}
    
    }