header {
    grid-area: header;
    background-color: #fed330;
    padding: 20px;
    height: 8vh;
    border-radius: 10px;
  }

  canvas {
      width: 100%;
      height: 100%;
  }

  * {border-radius: 10px; font-family: Consolas;}

    .filt_butt {
        font-size: calc(.1vw + .1vh + .7vmin);
        margin-top: 1%;
        margin-left: .2%;
        width: 6vw;
        height: 1.6vw;
    }

    .filters {
        display: block;
        background-color: aqua;
        width: 100%;
        height: 7vw;
    }

    .buttons {
        position: relative;
        /* background-color: rgb(238, 222, 130); */
        /* width: 96%; */
        height: 3vw;
        padding-bottom: 1vh;
        display:-webkit-flex;
        /* -webkit-justify-content:center; */
        /* display:flex; */
        justify-content:center;
        opacity: 1;
    }
    
    .preview {
        overflow: hidden;
        display: block;
        margin-left: 8px; 
        /* background-color: tomato; */
        width: 25vw;
        height: 19vw;
        border-radius: 10px;
        border: 5px solid black;
    }

    /* .column {
        margin-top: 3px;
        background-color: blue;
        display: block;
    }
     */
    #c1, #c2, #c3 {
        margin-left: 5%;
        position: relative;
        margin-top: 3%;
        height: 80%;
        /* background-color: #20bf6b; */
        width: 15%;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #c1 {background-image: url('images/start.png');}
    #c2 {background-image: url('./images/snap.png'); background-size: 100%;}
    #c3 {background-image: url('images/video.png');background-size: 70%;}

    .left {
        border-radius: 10px;
        border: 5px solid #579FF1;
        margin-left: 8px;
        margin-bottom: 5%;
        margin-top: 5%;
        overflow: hidden;
        float: left;
        background-color: black;
        width: 100%;
        height: 19vw;
    }

    video {
        width: 25vw
    }

    .right {
        position: relative;
        width: auto;
        margin-left: 47%;
        margin-right: 3%;
        height: 250vh + 25vw;
        overflow-y: scroll;
        background-color: blue;
    }

    .vid {
        /* background-color: violet; */
        position: relative;
        left: 0;
        width: 25vw;
        height: 80%;
        /* z-index: -1; */
        overflow: hidden;
    }


.column>.pl{
    background-color: blueviolet;
    height: 128px;
    left: 5%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 50%;
    width: 128px;
    /* z-index: 0;  */
}

/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

  article {
    grid-area: content;
    background-color: #20bf6b;
    padding: 20px;
  }
  aside {
    grid-area: sidebar;
    background-color: #45f27f;
  }
  footer {
    padding: 20px;
    grid-area: footer;
    background-color: #fd9644;
  }
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
      height: 100%;
  }

  .scoop {
      width: 25vw;
      float: left;
      /* background-color: teal; */
  }

  input[type=button] {
      width: 5vw;
      height: 3vh;
      font-size: calc(.1vw + .1vh + 1vmin);
  }

  .ico
  {
      position: relative;
      float: left;
      background-color: black;
      width: 5vw;
      height: 5vw;
  }
  .wrapper-content {
      display: block;
      float: left;
    width: 100%;
    text-align: center;
    /* background-color: yellow; */
  }
