* {font-family: Consolas;text-decoration: none;}
*:focus {outline:none;}

body { 
     background-color: black;
}
.login_class
{
    position: relative;
    top: 25vh;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

.login_container
{
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 550px;
}

.error_msg
{
    position: relative;
    top: 75px;
    left: -65px;
    font-family: Consolas;
    font-size: 13px;
    color: red;
}

.verify
{
    /* text-align: center; */
    position: relative;
    top: 75px;
    font-family: Consolas;
    font-size: 13px;
    color: #2ef74d;
    left: -85px;
    /* left: -2vw; */
}

input
{
    background-color: black;
    position: relative;
    display: flex;
    margin-left: 80px;
    top: 90px;
    font-family: Consolas;
    text-align: center;
    font-size: 100%;
    width: 400px;
    height: 50px;
    color: #579ff1;
    border: 0.6px solid #579ff1;
    border-radius: 2px;
}

input[type=submit]
{
    display: block;
    text-align: center;
    background-color: #579ff1;
    color: black;
}

.create_account
{
    position: relative;
    top: 100px;
    font-family: Consolas;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 750px) {
    .login_container {
    width: 400px;
    height: 100%;
    }

    input {
        font-size: 70%;
        width: 300px;
        height: 40px;
        margin-left: 50px;
    }

    .verify{font-size: 7.6px;}

    .login_class { height: 350px; }

    .error_msg {font-size: 8px;}

    .create_account{
        top: 80px;
        font-size: 10px;
    }
}