body { background-color: black}

form > label {
    position: relative;
    left: 3vw;
    font-family: Consolas;
    color: #579ff1;
    font-size: 20px;
}

meter {
    position: relative;
    left: 3vw;
    width: 400px;
    background: none;
    background-color: rgba(255, 255, 255, 0.1);

}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
  }

meter[value="1"]::-webkit-meter-optimum-value { background: grey; }
meter[value="2"]::-webkit-meter-optimum-value { background: red; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: orange; }
meter[value="5"]::-webkit-meter-optimum-value { background: green; }


.check_box {
    position: relative;
    left: 3vw;
    font-family: Consolas;
    color: #579ff1;
    /* height: 50px; */
    display: inline;
    /* background-color: yellow; */
}


span {
    color: red;
    font-size: 20px; 
}
form > input {
    background-color:  black;
    color: #579ff1;
    font-display: Consolas;
    font-size: 15px;
    padding-left: 10px;
    border: .8px solid #579ff1;
    text-align: center;
    border-radius: 3px;
    position: relative;
    left: 3vw;
    display: block;
    min-width: 400px;
    min-height: 40px;
    max-height: 50px;
    width: 22vw;
    height: 4vh;
}

*:focus {outline:none;}

.info_box {
    position: relative;
    top: 100px;
    width: 100%;
    height: 800px;
}

/* input[type=checkbox] {
    border: 
} */

input[type=submit] {
    border: 0;
    background-color: #579ff1;
    font-weight: bold;
    font-family: Consolas;
    font-size: 100%;
    display: inline-block;
    color: black;
}

/* .checkhere {
    top 0;
    left: 0;;
} */
.g-recaptcha {
    position: relative;
    transform: scale(0.7);
    top: -10px;
    left: 64px;
}

.info {
    /* background-color: yellow; */
    height: 100%;
    width: 40%;
    position: relative;
    left: 36vw;
}

.error_msg {
    position: relative;
    display: inline;
    top: 0px;
    font-family: Consolas;
    font-size: 13px;
    color: red;
    left: 3vw;
}

@media only screen and (max-width: 750px) {
    label {
        left: 4vw;
    }

    .g-recaptcha {
    transform: scale(0.4);
        left: 10px;
    }

    .error_msg {
        font-size: 8px;
    }

    form >input {
        min-height: 26px;
        min-width: 200px;
        max-height: 22px;
        font-size: 10px;
    }

    input[type=submit] {
        font-size: 15px;
    }
    .info {
        top: -25px;
        left: 22vw;
        height: 10%;
    }
}